@import './main.scss';

/*------------Variables-----------*/
$medium: 600;
$thin: 100;
$tablet-screen: 768px;
$desktop-screen: 991px;

/* ----------- Elements principaux de la page --------- */

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-weight: 900;
}
/*----------- Modification des propriétés par défaut ---------*/

/*---------------------- Header ---------------------------------*/

.subheading {
	&__browsing {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		height: 85px;
		gap: 35px;
		padding-top: 16px;
		padding-left: 22px;

		&__left {
			&__icon {
				color: #7e7e7e;
				font-weight: 900;
				width: 31px;
				gap: 10px;

				&__logo {
					&__center {
						width: 185px;
					}
				}
			}
		}
	}
}

.view {
	height: 100%;

	&__container {
		height: inherit;

		&__backImage {
			width: 100%;

			@media (min-width: $tablet-screen) {
				height: 230px;
				object-fit: cover;
			}
		}
	}

	/*------------------Style -----------------*/

	.menu {
		display: flex;
		flex-direction: column;
		text-align: center;
		height: 100%;
		width: 100%;
		background-color: #f6f6f6;
		border-top-left-radius: 40px;
		border-top-right-radius: 40px;
		gap: 11px;
		padding-bottom: 25px;

		&__title {
			display: flex;
			justify-content: space-around;
			align-items: center;
			height: 100px;

			@media (min-width: $tablet-screen) {
				justify-content: space-between;
				padding: 30px;
			}

			@media (min-width: $desktop-screen) {
				justify-content: space-between;
				padding: 15px;
			}

			&__text {
				font-size: 30px;
				font-family: "shrikhand";

				&__icon {
					&__heart {
						background-image: url(/images/icon/heart-outline.svg);
						width: 49px;
						height: 20px;
						transition: all 0.4s ease-in-out;
						background-size: cover;
						background-repeat: no-repeat;

						&:hover {
							background-image: url("/images/icon/heart-linearGradient.svg");
							color: #ff79da, #9356dc;
						}
					}
				}
			}
		}
	}
}
.wrap__starter {
	@media (min-width: $tablet-screen) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		height: 100%;
		width: 100%;
		gap: 0.5rem;
	}

	@media (min-width: $desktop-screen) {
		flex-wrap: nowrap;
	}

	.starter {
		padding: 0 1rem;
		height: 100%;
		padding-bottom: 34px;

		@media (min-width: $tablet-screen) {
			padding: 0px;
		}

		&__items {
			display: flex;
			flex-direction: column;
			gap: 16px;
			padding-bottom: 15px;

			&__title {
				font-size: 14px;

				@media (min-width: $tablet-screen) {
					display: flex;
					justify-content: center;
					align-items: center;
				}

				&__text {
					font-weight: $thin;
					border-bottom: 3px solid #99e2d0;
					width: 52px;
				}
			}

			.dish {
				display: flex;
				border-radius: 0.5rem;
				background-color: #ffffff;
				box-shadow: 0 2px 10px 0px rgb(0 0 0 / 20%);
				cursor: pointer;
				overflow: hidden;
				animation: appear 1s linear forwards;

				&:nth-of-type(1) {
					animation-delay: 0.1s;
				}

				&:nth-of-type(2) {
					animation-delay: 0.2s;
				}

				&:nth-of-type(3) {
					animation-delay: 0.3s;
				}

				@keyframes appear {
					from {
						opacity: 0;
						transform: translateY(18%);
					}
					to {
						opacity: 1;
						transform: translate(0px);
					}
				}

				&:hover > .dish__checkbox {
					width: 80px;
					transition: width 0.8s ease-in-out;

					@media (min-width: $tablet-screen) {
						width: 80px;
						transition: width 0.8s ease-in-out;
					}

					&:hover > .dish__checkbox__check {
						animation: check 0.2s ease-in-out;
					}
					@keyframes check {
						0% {
							transform: rotate(0deg);
						}

						100% {
							transform: rotate(360deg);
						}
					}
				}

				&__title {
					display: flex;
					justify-content: space-between;
					text-align: left;
					width: 100%;
					padding: 1rem;
					gap: 5px;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;

					@media (min-width: $desktop-screen) {
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
					}

					&__text {
						display: flex;
						flex-direction: column;
						width: 100%;
						height: 100%;
						gap: 5px;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;

						@media (min-width: $desktop-screen) {
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;
						}

						& h3 {
							font-size: 15px;
							font-weight: $medium;
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;

							@media (min-width: $desktop-screen) {
								text-overflow: ellipsis;
								overflow: hidden;
								white-space: nowrap;
							}
						}

						& p {
							font-weight: $thin;
							font-size: 16px;
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;

							@media (min-width: $desktop-screen) {
								text-overflow: ellipsis;
								overflow: hidden;
								white-space: nowrap;
							}
						}
					}
					.price {
						font-size: 15px;
						align-self: flex-end;
					}
				}
				&__checkbox {
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					background-color: #99e2d0;
					overflow: hidden;
					width: 0px;

					&__check {
						width: 30px;
						height: 30px;
						background-color: white;
						border-radius: 50%;
						display: flex;
						justify-content: center;
						align-items: center;

						&__icon {
							font-weight: $medium;
							font-size: 14px;
							color: #99e2d0;
						}
					}
				}
			}
		}
	}
}

/*-------------------- Button reservation -----------------------*/

.order__button {
	border-radius: 25px;
	outline: none;
	padding: 15px 25px;
	border: none;
	color: white;
	max-width: 200px;
	font-size: 18px;
	font-weight: 400;
	background: linear-gradient(to bottom right, #ff79da, #9356dc);
	box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 30%);
	cursor: pointer;
	transition: all 400ms linear;
	margin: auto;

	&:hover {
		background: linear-gradient(to bottom right, #9356dc, #ff79da);
		box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 30%);
	}

	@media (min-width: $tablet-screen) {
	}
}

/*--------------- Section Footer -------------------*/

.footer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 200px;
	padding: 25px;
	background-color: #333;

	@media (min-width: $tablet-screen) {
		justify-content: center;
	}

	&__container {
		display: flex;
		flex-direction: column;
		gap: 20px;

		@media (min-width: $tablet-screen) {
			gap: 37px;
		}

		&__title {
			font-family: Shrikhand;
			color: white;
			font-size: 24px;

			@media (min-width: $tablet-screen) {
				display: flex;
				justify-content: center;
			}

			&__list {
				display: flex;
				flex-direction: column;
				list-style-type: none;
				color: white;
				padding: 0px;
				gap: 4px;

				@media (min-width: $tablet-screen) {
					flex-direction: row;
					gap: 68px;
				}

				&__items {
					display: flex;
					font-size: 14px;
					gap: 8px;

					@media (min-width: $tablet-screen) {
						align-items: center;
					}

					&__icons {
						width: 16px;
						height: 24px;

						&__text {
							font-weight: 400;
						}
					}

					&__email {
						text-decoration: none;
						color: white;
						font-weight: 400;
					}
				}
			}
		}
	}
}
